.speech
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
}
.direction
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12px;
    background-color: rgb(0, 102, 255);
}
.direction:hover {
    background-color: rgb(94, 153, 153);
    color: rgba(128, 128, 128, 0.584);
  }
.imp
{   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 43, 43);
}
.judge
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(112, 140, 216);
}
.poorman
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(161, 216, 112);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ff0000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #3300ff;
  }
.imp:hover {
    background-color: rgb(212, 0, 255);
    color: rgb(177, 18, 18);
    border-style: double;
    border-left: 10px solid rgb(110, 40, 36);
    }
.poorman:hover {
    background-color: rgb(98, 255, 0);
    color: rgb(0, 148, 239);
    border-style: double;
    border-left: 10px solid rgb(0, 225, 255);
    }
.judge:hover {
        background-color: rgb(98, 255, 0);
        color: rgb(0, 148, 239);
        border-style: double;
        border-left: 10px solid rgb(0, 225, 255);
        }

        
ul.navbar-horizontal 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li 
{
    float:left; 
    color:#000;
    background-color: #0400ff
}
ul.navbar-horizontal a 
{
    display:block;
    padding:8px
}
ul.navbar-horizontal a:hover 
{  
    background-color: #ff00d0;
    color:white;
}
    